@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./imports/scss/variable";
//@import "imports/app/mobile/ionic.scss";

.fill-remaining-space {
  flex: 1 1 auto;
}

body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body.mobile {
  overflow: hidden;
}

body.web {
  overflow: visible;
  position: initial;
}

@import "./imports/scss/responsive";