<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/"><img src="/images/logo_bitkar.png" alt="logo" class="logo"/></a>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="container top-footer-in">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4>Main Menu</h4>
        <ul class="footer-menu">
          <li><a href="/">Home Page</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="http://bitkar.blogspot.com">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4>Useful Links</h4>
        <ul class="footer-menu">
          <li><a href="/privacy">Privacy policy</a></li>
          <li><a href="/terms-of-use">Terms of use</a></li>
          <li><a target="_blank" href="/sitemap">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4>Tags</h4>
        <div class="tags">
          <a href="#">AC</a>
          <a href="#">Battery</a>
          <a href="#">Brakes</a>
          <a href="#">Emission</a>
          <a href="#">Engine</a>
          <a href="#">Filters</a>
          <a href="#">Muffler</a>
          <a href="#">Tires</a>
          <a href="#">Transmission</a>
        </div>
      </div>
    </div>
  </div>
  <div class="info-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-sm-4"><span>Copyright &copy;2016 Bitkar, Inc.</span></div>
        </div>
      </div>
    </div>
  </div>
</footer>