$base-color: #097cb3; //#0dc1c1
$text-color: #2284b3; //#0bb7b7
$dark-color: #25658b; //#0dc1c1
$border-color: #2b76b3; //#0fc8c8
$hover-color: #2a65a7; //#16a7a7
$alert-color: #de2b27;
$text-color: #232323;
